body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.colorButton {
  padding: 0.25rem 0.5rem;
  border: 3px solid #fefefe;
  border-radius: 7px;
  color: #fefefe;
  background: rgba(0, 0, 0, 0.5);
  font-size: 1.5rem;
  cursor: pointer;
  outline: none;
}

.colorButton:hover {
  background: rgba(0, 0, 0);
}
